@media only screen and (max-width: 768px) {

  .element-item {
    padding-right:31%;
    padding-bottom: 31%;
    margin: 1%;

  }




}

@media only screen and (max-width: 478px) {

  .element-item {
    padding-right:48%;
    padding-bottom: 48%;
    margin: 1.5%;

  }




}
