/*=====================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 1em and max-width: 47em) { /* 480px */

  /* =General */

  #about-text {
    background-color: #fff;
    border:1px solid #000;
    padding:0px 10px;
  }
  .info-table {
    	margin-left: 1%!important;
  }

a.post-link h2 {
  	font-size: 1.5em!important;
  }
  .info-section {
  	width:90%;
  	height:auto;
  	margin-left:5%;
  	padding: 20px 0;
  }

h2 {
  font-size:1.5em!important;
}

  /* =Header */

  /* =Footer */

}

@media only screen and (min-width: 48em and max-width: 62em) { /* 768px */

 /* =General */
   h2 {
     font-size:1.5em!important;
   }

 a.post-link h2 {
    font-size: 1.5em!important;
   }
   .info-section {
    width:80%;
    height:auto;
    margin-left:10%;
    padding: 20px 0;
   }


 /* =Header */

 /* =Footer */

}

@media only screen and (min-width: 62em) { /* 992px */

 /* =General */

 /* =Header */

 /* =Footer */

}

@media only screen and (min-width: 75em) {







}
