/* Custom Stylesheet */

body {
  background-color: #ffffff;
}
nav ul a,
nav .brand-logo {
  color: #7fb1b5;
  font-family: "Amatic SC";
}
.footerCopy {
margin:0 auto;
}
.footerLink  a{
color:#ffffff !important;
}
.footerLink a:hover{
color:#cccccc !important;
cursor: pointer;
}
.socialIcon {
  padding-right:20px;
}
.listCentered {
  text-align: center;
  padding-top: 10px;
}
.listCentered li {
  display: inline;
}
.containerWhite {
  background-color: #ffffff;
}
span.readingList {
  color:#0087CC;
}
.storyStages {
  color: #0087CC;
  font-size: 16px;
}
.pageNav {
  padding-top: 20px;
}

.rainbowRed {
  background-color: #d7482D !important;
}
.rainbowBlue {
  background-color: #0087CC !important;
}
#logoImg {
text-align: center;
padding-top: 50px;
padding-left: 250px;
}

nav ul a {
  font-size: 24px;
}
/* #d7482D RainbowRed
    #0087CC RainbowBlue
    #7fb1b5 SkyBlue
*/

.sidenav ul {
  padding-top:20px;
}
.sidenav li > a {
  font-size: 24px;
}
#rhymeSection {
  padding-top:20px;
}
.parallax-darken:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.mainBtn {
  color:#ffffff;
  background-color: #d7482D;
  border: 2px #d7482d solid;
}
.mainBtn:hover {
  color:#d7482D;
  background-color: #ffffff;
  cursor: pointer;
}
.secBtn {
  color:#0087CC;
  background-color: #ffffff;
  border: 2px #0087CC solid;
}
.secBtn:hover {
  color:#ffffff;
  background-color: #0087CC;
  cursor: pointer;
}
.continueBtn {
  padding-top:;
  padding-bottom: 30px;
}
.backLink a{
  font-family: "Amatic SC";
  font-size: 24px;
}
.backLink a:hover {
  color:#d7482D;
}
button {
  padding:10px 40px;
  border-radius: 8px;
  font-size: 28px;
  transition: 0.3s;
  font-family: "Amatic SC";
}
button:hover {
  color:#d7482D;
  background-color: #ffffff;
  cursor: pointer;
}

.buttonCenter {
text-align: center;
padding-top:30px;
padding-bottom: 30px;
}
.introButton {
  position: absolute;
  bottom: 0;
}
.responsiveImage {
  width: 100%;
  height:auto;
}
.imageContainer {
  width:100%;
  height:auto;
  padding-top:20px;
  padding-bottom:20px;
}
.imageSmall {
  width: 25%;
  height:auto;
}
#downloadButton {
  padding-top: 20px;
  padding-bottom:20px;
}
#downloadBack {
  padding-top:50px;
}
.statement {
  padding-top:20px;
}
#apkDownload {
  padding-right:10px;
}
#fAndT {
  width:75%;
  height:auto;
}
.responsiveImage img {

}

.card-title {
  color:#000 !important;
}



p {
  line-height: 2rem;
}

.rhymeType {

}

.partTitle {
  padding-top:20px;
  padding-bottom: 20px;
}

h5 {
  font-family: "Amatic SC";
  font-size: 36px;
}

h2 {
  font-family: "Amatic SC";
  font-size: 48px;
}
h3 {
  font-family: "Amatic SC";
  font-size: 40px;
}
h4 {
  font-family: "Amatic SC";
  font-size: 24px;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 470px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.parallax img {
  width:100%;
  height:auto;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color:#7fb1b5;
}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

#heroTitle {
  padding-top:;
}


@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
padding: 0 !important;
margin: 0 !important;
}
