@charset "UTF-8";
/* CSS Document */

body,html {
	width:100%;
	height:100%;
	margin: 0 auto;
}

li {
	list-style:none;
}

/*======================================
							General Styles
=======================================*/

.full-container {
	width:100%;
}
img {
	width:100%;
	height:auto;
}


 .parallax-container {
      height: 75vh!important;
    }
		.parallax-container {
		  position: relative;
		  overflow: hidden;
		}

		.parallax {
		  position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  z-index: -1;
		}

		.parallax img {
		  display: none;
		  position: absolute;
		  left: 50%;
		  bottom: 0;
		  min-width: 100%;
		  min-height: 100%;
		  -webkit-transform: translate3d(0, 0, 0);
		  transform: translate3d(0, 0, 0);
		  -webkit-transform: translateX(-50%);
		          transform: translateX(-50%);
		}

.yellow-hr {
	width:50%;
	height:4px;
	margin: 10px 0;
	background: #FBE33A;
	margin-left: 10%;
}
.yellow-hr-centered {
	width:50%;
	height:4px;
	margin: 10px 0;
	background: #FBE33A;
	margin-left: 25%;
}



	.text-box {
		width:70%;
		height:auto;
		padding-left:10%;
		}
	.text-title {
		width:70%;
		height:auto;
		padding-left: 10%;
		color:#000;
	}
	#mapid {
		height: 100vh;
		z-index:1;
	}

.film-img-box {
	border-top: 25px solid #FBE33A;
	border-bottom: 25px solid #FBE33A;
}

	#text-one {

	}
	#text-one.fade-in {

	}

#one {
	height:100vh;
	border:50px solid #FBE33A;
	background-color:;
	position:;
	z-index:15;
}

#mapbox {
	width:100%;
	height:100vh;
	overflow: hidden;
}
#map-info {
	width:100%;
	text-align: center;
}
blockquote {
	border-color: #FBE33A!important;
	font-family: 'Raleway';
}
.parabox blockquote {
	color:#fff;
}


.parabox {
	width:80%;
	position: absolute;
	right:10%;
	bottom:0;
	margin-bottom: 30px;
	padding:30px;
	height:auto;
	background-color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	border: 10px solid #FBE33A;
}
.parabox p {
	color:#ffffff;
}
table {
	font-family: 'Raleway';
	background-color: rgba(0, 0, 0, 0.5);
	transition: 1s all linear;
}
.table-box {
	box-sizing: border-box;
	border: 5px solid #FBE33A;
}
.asset-info {
	font-size: 12px;
	font-style: italic;
}

tr:hover {
	background-color: rgba(251, 227, 58, 0.5);
	transition: 0.5s all linear;
	color:#000;
	cursor: pointer;
}
tr {
	border: 1px solid rgba(251, 227, 58, 1)!important;
}
td, th {
	border-right:1px solid rgba(251, 227, 58, 1)!important;
	padding-left:10px!important;
}

tr:hover {
	color:#000;
}

tr, td:hover{
	color:#000;
}
th {
	color:#ffffff;
	text-align: center;
}
td {
	color:#ffffff;
}
.text-box h2 {
	color:#000;
}
#nine img {
	width:80%;
	height:auto;
	padding-left:10%;
}
.mapbox {
	text-align: center;
}

.facts {
	text-align: center;
}
.facts li {
	font-family: 'Raleway';
}
#footer-section {
	padding:30px 0;
	width:90%;
	margin-left: 5%;
}
/*======================================
							Scrollmagic Styles
=======================================*/

#rediscover {
	opacity: 0;
	transition: 1s all linear;
}
#rediscover.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#table-one {
	opacity: 0;
	transition: 1s all linear;
}
#table-one.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#futilewings {
	opacity: 0;
	transition: 1s all linear;
}
#futilewings.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#takaheprofile {
	opacity: 0;
	transition: 1s all linear;
}
#takaheprofile.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#block-one {
	opacity: 0;
	transition: 1s all linear;
}
#block-one.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#vanished {
	opacity: 0;
	transition: 1s all linear;
}
#vanished.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#thirtyyear {
	opacity: 0;
	transition: 1s all linear;
}
#thirtyyear.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#newzealandmap {
	opacity: 0;
	transition: 1s all linear;
}
#newzealandmap.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#severewinters {
	opacity: 0;
	transition: 1s all linear;
}
#severewinters.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#newzealand {
	opacity: 0;
	transition: 1s all linear;
}
#newzealand.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#table-two {
	opacity: 0;
	transition: 1s all linear;
	transform: translateX(-50%);
}
#table-two.slide-left {
	opacity:1;
	transition: 1s all linear;
	transform: translateX(0);

}

#parabox-one {
	opacity: 0;
	transition: 1s all linear;
}
#parabox-one.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#parabox-two {
	opacity: 0;
	transition: 1s all linear;
}
#parabox-two.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#parabox-three {
	opacity: 0;
	transition: 1s all linear;
}
#parabox-three.fade-in {
	opacity:1;
	transition: 1s all linear;
}
#parabox-four {
	opacity: 0;
	transition: 1s all linear;
}
#parabox-four.fade-in {
	opacity:1;
	transition: 1s all linear;
}






/*======================================
							Banner Styles
=======================================*/

.banner {
	background-color:#243C84;
	width:100%;
	height:auto;
	padding:50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner h2 {
	margin-left: 20px;
}


/*======================================
							Column Styles
=======================================*/

.col-1 {
	width:50%;
	height:auto;
	float:left;
}

.col-2 {
	width:50%;
	height:auto;
	float:left;
}



/*======================================
							Text Styles
=======================================*/

h1, h2 {
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-size: 2.5em!important;
}

h1 {
	font-size:2em;
}

#home-text h2 {
	color: #ffffff;
}

#home-text h1  {
	color: #ffffff;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 1.25em;
	color:black;
}

/*======================================
							Link Styles
=======================================*/

.home-link a {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
  color:white;
}
.home-link a:hover {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
  color:white;
}
.home-link > a {
  position: relative;
  text-decoration: none;
}

.home-link > a:hover {
  color: rgba(255,255,255,1);
}
.home-link > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.home-link > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*======================================
							Home Styles
=======================================*/

#home-img {
	position: absolute;
	top:5%;
	left:2.5%;
	width:95%;
	height:90vh;
	background-image: url('../img/takahe-main.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index:15;
}

#home-text {
	width:50%;
	height:100%;
	float: right;
}
#home-text h1 {
	margin-top:20%;
	padding: 20px;
	background-color: ;
}
.home-link {
	width:50%;
	position: absolute;
	text-align: center;
	bottom: 0;
}
.border-box {
	width:50%;
	height:100px;
	border-right: 1px solid #ffffff;
	align-self: flex-end;
}

/*======================================
						Rediscover Styles
=======================================*/


#rediscover {
height:auto;
}

#intro-text {
			background-color: rgba(0, 0, 0, 0.9);
			padding:1em 2em;
			border:10px solid #FBE33A;
			box-sizing: border-box;
			margin-right:2em;
}
#intro-text p {
		color:white;

}

#map {
	padding-top:30px;
	margin-left:50px;
}

#fiordland {
	width:100%;
	height:auto;
}


/*======================================
						Orbell Styles
=======================================*/


#orbell-img img {
	width:100%;
	height:auto;
}

#wingspan {

}

/*======================================
						Footer Styles
=======================================*/
