



#introBolts {

}
.introBolt {
  position: absolute;
  z-index: 30;
  margin:20px;
  pointer-events: none;
}
img.introBolt {
  width:50px;
  height:auto;
}

#boltTL {
  top:0;
  left:0;
}
#boltTR {
  top:0;
  right:0;
}
#boltBL {
  bottom:0;
  left:0;
}
#boltBR {
  bottom:0;
  right:0;
}





/* Small Screen Media Queries (col-sm = min 48em or 768px) */

@media only screen and (max-width: 48em) {

  #introUnicorn {
  left:50%;
  width:55%;
  }

  .introBubble {
  top:-50%;
  }

}

/* Medium Screen Media Queries (col-md = min 62em or 992px) */

@media only screen and (min-width: 48em) and (max-width: 75em) {

#introUnicorn {
left:50%;
}
.introBubble {
top:-20%;
}

}

/* Large Screen Media Queries (col-lg = min 75em or 1200px) */


@media only screen and (min-width: 75em) {



}
